# baselines
setuptools
requests
markdown
pickleshare
black
numpy
scipy
matplotlib
seaborn
psutil
networkx
tqdm
colorama
simplejson
pandas
PyYAML
Werkzeug
moviepy
cffi
shapely
plotly
celery
pyvirtualdisplay

# ml-tools
protobuf
scikit-learn
wandb
optuna
jaxlib
jax
# jax[cuda12_pip] -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
torch
torchvision
torchtext
pytorch-lightning
lightning
tensorboardX
tensorboard
torch-tb-profiler
pytorch-ignite
opencv-python
spacy
jupyterlab
huggingface-hub
xformers

# rl-tools
gym==0.17.2
autorom
ale-py
dm-acme
dm-control
gymnasium
pettingzoo
tianshou
stable_baselines3 
supersuit
Box2D
